body {
	background: #e2e2e2;
}

/* Primary Colors */
.bg-primary {
	background: #006064 !important;
}

.btn-bg-primary {
	background: #006064 !important;
	color: white;
}

/* Banner Styling */
.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(../img/banner.png);
	background-size: cover;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Card Styling */
.my-card {
	padding: 20px;
	background: white;
}

/* Checkbox Styling */
.checkbox:checked {
	background-color: #006064;
}

/* Sidebar Styling */
@media only screen and (max-width: 768px) {
	.sidebar {
		width: 80%;
		position: fixed;
		background: white;
		height: 100%;
		padding-top: 20px;
		transform: translateX(-100%); /* Initially hidden */
		transition: transform 0.3s ease; /* Smooth transition */
	}
	.content {
		margin-left: 0 !important; /* No left margin on mobile */
	}
	.hamburger {
		display: block; /* Show hamburger on mobile */
	}
	.sidebar.open {
		transform: translateX(0); /* Slide in sidebar */
	}
}

.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 40px;
	top: 56px;
	transform: translateX(0); /* Sidebar visible by default on desktop */
	transition: transform 0.3s ease; /* Smooth transition for sliding */
	z-index: 20000;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: black;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar a i {
	color: #006064;
	margin-right: 10px; /* Space between icon and text */
}

/* Close Button on Sidebar */
.sidebar .crossBtn {
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 35px;
	cursor: pointer;
}

/* Divider for Sidebar */
.sidebar .divider {
	height: .5px;
	width: 100%;
	background: #e2e2e2;
}

/* Content Styling */
.content {
	margin-left: 20%;
	transition: margin-left 0.3s ease;
	/* Smooth transition when sidebar opens/closes */
}

.content .hamburger {
	display: block; /* Ensure the hamburger is part of the layout */
	font-size: 30px;
	color: #006064;
	cursor: pointer;
	top: 50px; /* Adjust position */
	left: 20px; /* Adjust position */
	visibility: hidden; /* Hidden by default */
	opacity: 0; /* Fully transparent by default */
	transition: opacity 0.3s ease, visibility 0.3s ease;
	/* Smooth transition */
}

/* When Sidebar is Active */
.sidebar.open+.content {
	margin-left: 80%; /* Adjust content layout when sidebar is visible */
}

/* Custom Active Page Button Style */
.active-page .page-link {
	background-color: #006064 !important; /* Set background color */
	color: white !important; /* Set text color to white */
	border-color: #006064 !important;
	/* Set border color to match background */
}

/* Default page link style */
.page-link {
	color: #006064;
	border-color: #006064; /* Border color for inactive buttons */
}

.pagination {
	display: flex;
	justify-content: center; /* Center the items horizontally */
	padding-left: 0; /* Remove any default padding */
	list-style: none; /* Remove default list styles */
}

.profile-photo {
	height: 25px;
	width: 25px;
	object-fit: cover;
	border-radius: 50%;
}

.profile-photo-detail {
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 50%;
}

.profile-photo-dashboard {
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 50%;
}

.italic-text {
	color: #006064;
	font-style: italic;
	font-weight: 600;
}


.search-container{
	position: relative;
}

.search-result{
	position: absolute;
	width: 100%;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	display: none;
	z-index: 30000;
	background: white;
}